<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="net.vectorcomputing.print.ui.wizard.CartridgeSpecificationNewWizard"
            id="net.vectorcomputing.print.ui.wizard.inkCartridgeSpecification"
            name="Ink Cartridge Specification"
            project="false">
         <description>
            Creates a new ink cartridge specification.
         </description>
      </wizard>
      <wizard
            class="net.vectorcomputing.print.ui.wizard.CartridgeNewWizard"
            id="net.vectorcomputing.print.ui.wizard.inkCartridge"
            name="Ink Cartridge">
         <description>
            Creates a new instance of an ink cartridge specification.
         </description>
      </wizard>
      <wizard
            class="net.vectorcomputing.print.ui.wizard.MediaNewWizard"
            id="net.vectorcomputing.print.ui.wizard.media"
            name="Media">
         <description>
            Creates a new media specification
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.vectorcomputing.print.ui.editor.CartridgeEditor"
            id="net.vectorcomputing.print.ui.editor.inkCartridgeEditor"
            name="Ink Cartridge Editor">
      </editor>
      <editor
            class="net.vectorcomputing.print.ui.editor.CartridgeSpecificationEditor"
            default="false"
            id="net.vectorcomputing.print.ui.editor.inkCartridgeSpecificationEditor"
            name="Ink Cartridge Specification Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.vectorcomputing.print.ui.viewers.CartridgeSpecificationsView"
            id="net.vectorcomputing.print.ui.view.CartridgeSpecificationsView"
            name="Cartridge Specifications">
      </view>
      <view
            class="net.vectorcomputing.print.ui.viewers.CartridgesView"
            id="net.vectorcomputing.print.ui.view.CartridgesView"
            name="Cartridges"
            restorable="true">
      </view>
      <view
            class="net.vectorcomputing.print.ui.viewers.PriceHistoryView"
            id="net.vectorcomputing.print.ui.view.PriceHistoryView"
            name="Price History">
      </view>
      <view
            class="net.vectorcomputing.print.ui.viewers.MediaView"
            id="net.vectorcomputing.print.ui.view.MediaView"
            name="Media">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create a new ink cartridge specification"
            id="net.vectorcomputing.print.ui.newCartridgeSpecification"
            name="New Ink Cartridge Specification">
      </command>
      <command
            id="net.vectorcomputing.print.ui.editCartridgeSpecification"
            name="Edit Ink Cartridge Specification">
      </command>
      <command
            id="net.vectorcomputing.print.ui.deleteCartridgeSpecification"
            name="Delete Ink Cartridge Specification(s)">
      </command>
      <command
            id="net.vectorcomputing.print.ui.refreshCartridgeSpecificationsView"
            name="Refresh Ink Cartridge Specifications View">
      </command>
      <command
            description="Create a new ink cartridge"
            id="net.vectorcomputing.print.ui.newCartridge"
            name="New Ink Cartridge">
      </command>
      <command
            id="net.vectorcomputing.print.ui.editCartridge"
            name="Edit Ink Cartridge">
      </command>
      <command
            id="net.vectorcomputing.print.ui.deleteCartridge"
            name="Delete Ink Cartridge(s)">
      </command>
      <command
            id="net.vectorcomputing.print.ui.refreshCartridgesView"
            name="Refresh Cartridges View">
      </command>
      <command
            id="net.vectorcomputing.print.ui.refreshPriceHistoryView"
            name="Refresh Price History View">
      </command>
      <command
            id="net.vectorcomputing.print.ui.refreshMediaView"
            name="Refresh Media View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.vectorcomputing.print.ui.newCartridgeSpecification"
            icon="icons/full/elcl16/add.gif">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.editCartridgeSpecification"
            icon="icons/full/obj16/edit.png">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.deleteCartridgeSpecification"
            icon="icons/full/elcl16/delete.gif">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.refreshCartridgeSpecificationsView"
            icon="icons/full/elcl16/refresh.gif">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.newCartridge"
            icon="icons/full/elcl16/add.gif">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.refreshCartridgesView"
            icon="icons/full/elcl16/refresh.gif">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.editCartridge"
            icon="icons/full/obj16/edit.png">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.deleteCartridge"
            icon="icons/full/elcl16/delete.gif">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.refreshPriceHistoryView"
            icon="icons/full/elcl16/refresh.gif">
      </image>
      <image
            commandId="net.vectorcomputing.print.ui.refreshMediaView"
            icon="icons/full/elcl16/refresh.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.vectorcomputing.print.ui.handler.NewCartridgeSpecificationHandler"
            commandId="net.vectorcomputing.print.ui.newCartridgeSpecification">
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.EditCartridgeSpecificationHandler"
            commandId="net.vectorcomputing.print.ui.editCartridgeSpecification">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="net.vectorcomputing.print.accounting.CartridgeSpecification">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="net.vectorcomputing.print.accounting.CartridgeSpecification">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.DeleteCartridgeSpecificationHandler"
            commandId="net.vectorcomputing.print.ui.deleteCartridgeSpecification">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="net.vectorcomputing.print.accounting.CartridgeSpecification">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="net.vectorcomputing.print.accounting.CartridgeSpecification">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.RefreshCartridgeSpecificationsViewHandler"
            commandId="net.vectorcomputing.print.ui.refreshCartridgeSpecificationsView">
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.NewCartridgeHandler"
            commandId="net.vectorcomputing.print.ui.newCartridge">
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.DeleteCartridgeHandler"
            commandId="net.vectorcomputing.print.ui.deleteCartridge">
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.EditCartridgeHandler"
            commandId="net.vectorcomputing.print.ui.editCartridge">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="net.vectorcomputing.print.accounting.Cartridge">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="net.vectorcomputing.print.accounting.Cartridge">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.RefreshCartridgesViewHandler"
            commandId="net.vectorcomputing.print.ui.refreshCartridgesView">
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.RefreshPriceHistoryViewHandler"
            commandId="net.vectorcomputing.print.ui.refreshPriceHistoryView">
      </handler>
      <handler
            class="net.vectorcomputing.print.ui.handler.RefreshMediaViewHandler"
            commandId="net.vectorcomputing.print.ui.refreshMediaView">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.vectorcomputing.print.ui.view.CartridgeSpecificationsView?after=commands">
         <command
               commandId="net.vectorcomputing.print.ui.newCartridgeSpecification"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.editCartridgeSpecification"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.deleteCartridgeSpecification"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.refreshCartridgeSpecificationsView"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.vectorcomputing.print.ui.view.CartridgeSpecificationsView?after=commands">
         <command
               commandId="net.vectorcomputing.print.ui.newCartridgeSpecification"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.editCartridgeSpecification"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.deleteCartridgeSpecification"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.newCartridge"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.vectorcomputing.print.ui.view.CartridgesView?after=commands">
         <command
               commandId="net.vectorcomputing.print.ui.newCartridge"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.editCartridge"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.deleteCartridge"
               style="push">
         </command>
         <command
               commandId="net.vectorcomputing.print.ui.refreshCartridgesView"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.vectorcomputing.print.ui.view.PriceHistoryView?after=commands">
         <command
               commandId="net.vectorcomputing.print.ui.refreshPriceHistoryView"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.vectorcomputing.print.ui.view.MediaView?after=commands">
         <command
               commandId="net.vectorcomputing.print.ui.refreshMediaView"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
